<p>add-book works!</p>
Enter Name:- <input type="text"  [(ngModel)]="name" /><br><br>
Enter Price:- <input type="text"  [(ngModel)]="price"/><br><br>
Enter Quantity:- <input type="text"  [(ngModel)]="qyantity"/><br><br>
Enter AuthorName:- <input type="text" [(ngModel)]="authorname"/><br><br>
Enter Availability:-
True:-<input type="radio" [(ngModel)]="avalaibleind" value="true"/>
False:-<input type="radio" [(ngModel)]="avalaibleind" value="false"/>
<br><br>
<button (click)="submit()">Submit</button>
<!-- <a routerLink="/login"><button>SUBMIT</button></a> -->

